VITE_FIREBASE_API_KEY=AIzaSyAMtR0cpfDAJciSyy5878h35M5W-Jf9MHs
VITE_FIREBASE_AUTH_DOMAIN=codoconsole.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=codoconsole
VITE_FIREBASE_STORAGE_BUCKET=codoconsole.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=865339682705
VITE_FIREBASE_APP_ID=1:865339682705:web:0d1446ca65a969826a7430
VITE_FIREBASE_MEASUREMENT_ID=G-J8L3GHJNQ4